<div class="about-main">
  <h2>似非中国語呟とは</h2>
  <p>
    投稿した呟きからひらがなとカタカナが削除され、中国語っぽく表示されるSNSサービスです。<br>
    普通の文章が中国語っぽくなる事で、いつもと違ったsnsを楽しめるかも?
  </p>
  <img class="about-img" src="/tweets.png">
</div>
